@import "../styles.scss";

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 0 16px;

  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .logo-img{
      width: 182px;
      height: auto;
      margin-bottom: 39px;
          
    }
  }
}